<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 4 Sprint 3 Assignment 1*

# Recurrent Neural Networks and Long Short Term Memory (LSTM)

![Monkey at a typewriter](https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/Chimpanzee_seated_at_typewriter.jpg/603px-Chimpanzee_seated_at_typewriter.jpg)

It is said that [infinite monkeys typing for an infinite amount of time](https://en.wikipedia.org/wiki/Infinite_monkey_theorem) will eventually type, among other things, the complete works of Wiliam Shakespeare. Let's see if we can get there a bit faster, with the power of Recurrent Neural Networks and LSTM.

This text file contains the complete works of Shakespeare: https://www.gutenberg.org/files/100/100-0.txt

Use it as training data for an RNN - you can keep it simple and train character level, and that is suggested as an initial approach.

Then, use that trained RNN to generate Shakespearean-ish text. Your goal - a function that can take, as an argument, the size of text (e.g. number of characters or lines) to generate, and returns generated text of that size.

Note - Shakespeare wrote an awful lot. It's OK, especially initially, to sample/use smaller data and parameters, so you can have a tighter feedback loop when you're trying to get things running. Then, once you've got a proof of concept - start pushing it more!

In [1]:
import requests
import pandas as pd

In [2]:
url = "https://www.gutenberg.org/files/100/100-0.txt"

r = requests.get(url)
r.encoding = r.apparent_encoding
data = r.text
data = data.split('\r\n')
toc = [l.strip() for l in data[44:130:2]]
# Skip the Table of Contents
data = data[135:]

# Fixing Titles
toc[9] = 'THE LIFE OF KING HENRY V'
toc[18] = 'MACBETH'
toc[24] = 'OTHELLO, THE MOOR OF VENICE'
toc[34] = 'TWELFTH NIGHT: OR, WHAT YOU WILL'

locations = {id_:{'title':title, 'start':-99} for id_,title in enumerate(toc)}

# Start 
for e,i in enumerate(data):
    for t,title in enumerate(toc):
        if title in i:
            locations[t].update({'start':e})
            

df_toc = pd.DataFrame.from_dict(locations, orient='index')
df_toc['end'] = df_toc['start'].shift(-1).apply(lambda x: x-1)
df_toc.loc[42, 'end'] = len(data)
df_toc['end'] = df_toc['end'].astype('int')

df_toc['text'] = df_toc.apply(lambda x: '\r\n'.join(data[ x['start'] : int(x['end']) ]), axis=1)

In [8]:
#Shakespeare Data Parsed by Play
df_toc

                                       title  ...                                               text
0        THE TRAGEDY OF ANTONY AND CLEOPATRA  ...
1                             AS YOU LIKE IT  ...  AS YOU LIKE IT\r\n\r\n\r\nDRAMATIS PERSONAE.\r...
2                       THE COMEDY OF ERRORS  ...  THE COMEDY OF ERRORS\r\n\r\n\r\n\r\nContents\r...
3                  THE TRAGEDY OF CORIOLANUS  ...  THE TRAGEDY OF CORIOLANUS\r\n\r\nDramatis Pers...
4                                  CYMBELINE  ...  CYMBELINE.\r\nLaud we the gods;\r\nAnd let our...
5   THE TRAGEDY OF HAMLET, PRINCE OF DENMARK  ...  THE TRAGEDY OF HAMLET, PRINCE OF DENMARK\r\n\r...
6    THE FIRST PART OF KING HENRY THE FOURTH  ...  THE FIRST PART OF KING HENRY THE FOURTH\r\n\r\...
7   THE SECOND PART OF KING HENRY THE FOURTH  ...  THE SECOND PART OF KING HENRY THE FOURTH\r\n\r...
8           THE LIFE OF KING HENRY THE FIFTH  ...
9                   THE LIFE OF KING HENRY V  ...  THE LIFE OF KING HENRY V\r\n\r\n\r\n\r\nConten...
10   THE SECOND PART OF KING HENRY THE SIXTH  ...  THE SECOND PART OF KING HENRY THE SIXTH\r\n\r\...
11    THE THIRD PART OF KING HENRY THE SIXTH  ...  THE THIRD PART OF KING HENRY THE SIXTH\r\n\r\n...
12                     KING HENRY THE EIGHTH  ...                   KING HENRY THE EIGHTH\r\n\r\n...
13                                 KING JOHN  ...    KING JOHN. O cousin, thou art come to set mi...
14              THE TRAGEDY OF JULIUS CAESAR  ...  THE TRAGEDY OF JULIUS CAESAR\r\n\r\n\r\n\r\nCo...
15                  THE TRAGEDY OF KING LEAR  ...  THE TRAGEDY OF KING LEAR\r\n\r\n\r\n\r\nConten...
16                      LOVE’S LABOUR’S LOST  ...  LOVE’S LABOUR’S LOST\r\n\r\nDramatis Personae....
17                    THE TRAGEDY OF MACBETH  ...
18                                   MACBETH  ...  MACBETH.\r\nI will not yield,\r\nTo kiss the g...
19                    THE MERCHANT OF VENICE  ...  THE MERCHANT OF VENICE\r\n\r\n\r\n\r\nContents...
20                THE MERRY WIVES OF WINDSOR  ...  THE MERRY WIVES OF WINDSOR\r\n\r\nDramatis Per...
21                 A MIDSUMMER NIGHT’S DREAM  ...  A MIDSUMMER NIGHT’S DREAM\r\n\r\n\r\n\r\nConte...
22                    MUCH ADO ABOUT NOTHING  ...   MUCH ADO ABOUT NOTHING\r\n\r\n\r\n\r\nContent...
23    THE TRAGEDY OF OTHELLO, MOOR OF VENICE  ...
24               OTHELLO, THE MOOR OF VENICE  ...  OTHELLO, THE MOOR OF VENICE\r\n\r\n\r\n\r\nCon...
25                   KING RICHARD THE SECOND  ...    KING RICHARD THE SECOND\r\n  JOHN OF GAUNT, ...
26                    KING RICHARD THE THIRD  ...  KING RICHARD THE THIRD\r\n\r\nDramatis Persona...
27           THE TRAGEDY OF ROMEO AND JULIET  ...  THE TRAGEDY OF ROMEO AND JULIET\r\n\r\n\r\n\r\...
28                   THE TAMING OF THE SHREW  ...  THE TAMING OF THE SHREW\r\n\r\n\r\n\r\nContent...
29                               THE TEMPEST  ...  THE TEMPEST\r\n\r\n\r\n\r\nContents\r\n\r\nACT...
30               THE LIFE OF TIMON OF ATHENS  ...  THE LIFE OF TIMON OF ATHENS\r\n\r\nDRAMATIS PE...
31           THE TRAGEDY OF TITUS ANDRONICUS  ...  THE TRAGEDY OF TITUS ANDRONICUS\r\n\r\nDramati...
32       THE HISTORY OF TROILUS AND CRESSIDA  ...  THE HISTORY OF TROILUS AND CRESSIDA\r\n\r\n\r\...
33          TWELFTH NIGHT; OR, WHAT YOU WILL  ...
34          TWELFTH NIGHT: OR, WHAT YOU WILL  ...  TWELFTH NIGHT: OR, WHAT YOU WILL\r\n\r\n\r\n\r...
35                     THE TWO NOBLE KINSMEN  ...  THE TWO NOBLE KINSMEN:\r\n\r\nPresented at the...
36                         THE WINTER’S TALE  ...  THE WINTER’S TALE\r\n\r\n\r\n\r\n\r\nContents\...
37                       A LOVER’S COMPLAINT  ...  A LOVER’S COMPLAINT\r\n\r\n\r\n\r\nFrom off a ...
38                    THE PASSIONATE PILGRIM  ...  THE PASSIONATE PILGRIM\r\n\r\nI.\r\n\r\nDid no...
39                THE PHOENIX AND THE TURTLE  ...  THE PHOENIX AND THE TURTLE\r\n\r\n\r\n\r\nLet ...
40                       THE RAPE OF LUCRECE  ...  THE RAPE OF LUCRECE\r\n\r\n                   ...
41                          VENUS AND ADONIS  ...   VENUS AND ADONIS\r\n\r\nEven as the sun with ...
42                                            ...

[43 rows x 4 columns]

In [ ]:
text = " ".join(df_toc['text'])
text

# Resources and Stretch Goals

## Stretch goals:
- Refine the training and generation of text to be able to ask for different genres/styles of Shakespearean text (e.g. plays versus sonnets)
- Train a classification model that takes text and returns which work of Shakespeare it is most likely to be from
- Make it more performant! Many possible routes here - lean on Keras, optimize the code, and/or use more resources (AWS, etc.)
- Revisit the news example from class, and improve it - use categories or tags to refine the model/generation, or train a news classifier
- Run on bigger, better data

## Resources:
- [The Unreasonable Effectiveness of Recurrent Neural Networks](https://karpathy.github.io/2015/05/21/rnn-effectiveness/) - a seminal writeup demonstrating a simple but effective character-level NLP RNN
- [Simple NumPy implementation of RNN](https://github.com/JY-Yoon/RNN-Implementation-using-NumPy/blob/master/RNN%20Implementation%20using%20NumPy.ipynb) - Python 3 version of the code from "Unreasonable Effectiveness"
- [TensorFlow RNN Tutorial](https://github.com/tensorflow/models/tree/master/tutorials/rnn) - code for training a RNN on the Penn Tree Bank language dataset
- [4 part tutorial on RNN](http://www.wildml.com/2015/09/recurrent-neural-networks-tutorial-part-1-introduction-to-rnns/) - relates RNN to the vanishing gradient problem, and provides example implementation
- [RNN training tips and tricks](https://github.com/karpathy/char-rnn#tips-and-tricks) - some rules of thumb for parameterizing and training your RNN